<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Head & css links -->
<head th:replace="~{fragments/headFragment::head-section}"></head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div th:if="${illegal}">
                        <div class="alert alert-danger text-center" th:text="${message}"></div>
                        <div class="text-center">
                            <a th:href="@{/atm/login}" class="nav-link">
                                <i class="fa-solid fa-house"></i>
                                <span>Login</span>
                            </a>
                        </div>
                    </div>
                    <div th:if="${!illegal}">
                        <div class="alert alert-success text-center">
                            Your account is activated, you can follow the link to login.
                        </div>
                        <div class="text-center">
                            <a th:href="@{/atm/login}" class="nav-link">
                                <i class="fa-solid fa-house"></i>
                                <span>Login</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{fragments/footFragment::js-links}"></div>

</body>
</html>
