<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Head & css links -->
<head th:replace="~{fragments/headFragment::head-section}"></head>
<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">


                    <div class="card card-primary">
                        <div class="card-header"><h4 th:text="#{blt.reset.password}"></h4></div>

                        <div class="card-body">
                            <form th:method="post" th:object="${password_obj}"
                                  th:action="@{/atm/user/reset/password}">
                                <!--Success message-->
                                <div th:if="${success}">
                                    <div class="alert alert-success text-center" th:text="${success}"></div>
                                </div>
                                <input type="hidden" name="token" th:value="${param.token}"/>
                                <div class="form-group">
                                    <label for="password">New password</label>
                                    <input id="password" type="password" class="form-control" name="password"
                                           tabindex="1"
                                           required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="password2">Repeat password</label>
                                    <input id="password2" type="password" class="form-control" name="password2"
                                           tabindex="1"
                                           required autofocus>

                                    <p class="text-danger" th:if="${param.notMatched}"
                                       th:text="'Passwords mismatched!!'"></p>
                                </div>


                                <div class="form-group">
                                    <button type="submit"
                                            class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mt-5 text-muted text-center">
                        Don't have an account? <a th:text="#{blt.signup}" th:href="@{/atm/registration}"></a>
                    </div>
                    <div class="simple-footer">
                        <a th:href="@{/atm}" class="nav-link"><i class="fa-solid fa-house"></i>
                            <span th:text="#{blt.home}"></span></a>
                    </div>
                    <div class="simple-footer">
                        <a th:href="@{/atm/login}" class="nav-link"><i class="fa-solid fa-house"></i>
                            <span th:text="#{blt.login}"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<div th:replace="~{fragments/footFragment::js-links}"></div>
</body>
</html>