<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/headFragment::head-section}"></head>
<div th:fragment="sidebar-section" class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="index.html">ATM</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">ATM</a>
        </div>
        <ul class="sidebar-menu">
            <li class="dropdown active">
                <a th:href="@{/atm}" class="nav-link"><i class="fa-solid fa-house"></i>
                    <span  th:text="#{sidebar.home}"></span></a>
            </li>
            <li class="dropdown">
                <a sec:authorize="isAuthenticated()" href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fa-solid fa-money-check"></i>
                    <span th:text="#{sidebar.transactions}"></span></a>
                <ul class="dropdown-menu">
                    <li  ><a class="nav-link" th:text="#{sidebar.transactions.deposit}" ></a></li>
                    <li  ><a class="nav-link" th:text="#{sidebar.transactions.withdraw}" ></a></li>
                    <li  ><a class="nav-link" th:text="#{sidebar.transactions.transfer}" ></a></li>
                    <li  ><a class="nav-link" th:text="#{sidebar.transactions.history}" ></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a sec:authorize="isAuthenticated()" href="#" class="nav-link has-dropdown"><i class="fa fa-bank"></i>
                    <span th:text="#{sidebar.accounts}"></span></a>
                <ul class="dropdown-menu">
                    <li ><a th:href="@{/atm/accounts/new}" class="nav-link" th:text="#{sidebar.accounts.new}" ></a></li>
                    <li ><a class="nav-link" th:href="@{/atm/accounts}" th:text="#{sidebar.accounts.all}"></a></li><!-- send notifications if account is accessed.
                     set password for account etc.-->
                </ul>
            </li>
            <!--            -->
            <li class="dropdown">

                <a sec:authorize="hasRole('ROLE_ADMIN')" href="#" class="nav-link has-dropdown"> <i class="fa-solid fa-gears"></i>
                    <span th:text="#{sidebar.monitor}" ></span></a>
                <ul class="dropdown-menu">
                    <li sec:authorize="hasRole('ROLE_ADMIN')" >
                        <a class="nav-link beep beep-sidebar" href="#" th:text="#{sidebar.monitor.actions}" ></a></li>
                    <!-- IN ADMIN SIDE THE LIST OF REPORTS WILL BE SHOWN IN USER'S SIDE
                    REPORT FORM WILL BE DISPLAYED -->
                    <!--                    <li><a class="nav-link beep beep-sidebar" href="#">Messages</a></li>-->
                </ul>
            </li>
        </ul>

    </aside>
</div>
</html>