<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Head & css links -->
<head th:replace="~{fragments/headFragment::head-section}"></head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="card card-primary">
                        <div class="card-header"><h4 th:text="#{blt.signup}"></h4></div>

                        <div class="card-body">
                            <form th:method="post" th:action="@{/atm/user}" th:object="${user}">
                                <!--Success message-->
                                <div th:if="${success}">
                                    <div class="alert alert-success text-center" th:text="${success}"></div>
                                </div> <!--Username Exists Error-->
                                <div th:if="${exception}">
                                    <div class="alert alert-danger text-center" th:text="${exception}"></div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="firstName" th:text="#{user.firstName}"></label>
                                        <input id="firstName" type="text" class="form-control"  th:name="#{frm.first}"
                                               autofocus>
                                        <p class="text-danger" th:if="${#fields.hasErrors()}"
                                           th:errors="*{firstName}"></p>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="lastName" th:text="#{user.lastName}"></label>
                                        <input id="lastName" type="text" class="form-control" th:name="#{frm.last}">
                                        <p class="text-danger" th:if="${#fields.hasErrors()}"
                                           th:errors="*{lastName}"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" th:text="#{user.email}" ></label>
                                    <input id="email" type="text" class="form-control" th:name="#{frm.eml}">
                                    <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{email}"></p>
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="password" class="d-block" th:text="#{user.password}" ></label>
                                        <input id="password" type="password" class="form-control" th:name="#{frm.psd}">
                                        <p class="text-danger" th:if="${#fields.hasErrors()}"
                                           th:errors="*{password}"></p>
                                        <p th:text="#{user.password.pattern}"></p>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="password2" class="d-block" th:text="#{user.repeatPassword}" ></label>
                                        <input id="password2" type="password" class="form-control" th:name="#{frm.psd2}">
                                        <p class="text-danger" th:if="${#fields.hasErrors()}"
                                           th:errors="*{password2}"></p>
                                        <p class="text-danger" th:if="${param.notMatched}"
                                           th:text="'Passwords mismatched!!'"></p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <a th:href="@{/atm/login}" th:text="#{blt.login}"
                                       class="btn btn-success btn-lg btn-block">

                                    </a>
                                    <button type="submit" th:text="#{blt.signup}"
                                            class="btn btn-primary btn-lg btn-block">

                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
                        <a th:href="@{/atm}" class="nav-link"><i class="fa-solid fa-house"></i>
                            <span th:text="#{blt.home}">`</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{fragments/footFragment::js-links}"></div>

</body>
</html>